* {
    margin: 0;
}

@font-face {
    font-family: pepper;
    src: url(../fonts/PepperSauce.ttf);
}

.header {
    font-family: 'Zen Loop', cursive;
    font-size: 100px;
}

nav {

}

nav a {
    display: block;
}

ul {
    list-style-type: none;
    display: flex;
}

ul > li {
    margin: 0 2px;
}

ul > li > a {
    text-decoration: none;
    padding: 5px;
}

ul > li > a:hover {
    color: #000000;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    padding: 30px 0 0 0;
}