* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Tecnica chamada de mobile-first */
.container {
    margin: auto;
    width: 100%;
    /*display: none;*/
}

@media screen and (min-width: 576px) {
    .container {
        margin: auto;
        max-width: 540px;
        /*display: block;*/
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin: auto;
        max-width: 720px;
        /*display: block;*/
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin: auto;
        max-width: 920px;
        /*display: block;*/
    }
}

@media screen and (min-width: 576px) {
    .col-small-1 {width: 8.33%;}
    .col-small-2 {width: 16.66%;}
    .col-small-3 {width: 25%;}
    .col-small-4 {width: 33.33%;}
    .col-small-5 {width: 41.66%;}
    .col-small-6 {width: 50%;}
    .col-small-7 {width: 58.33%;}
    .col-small-8 {width: 66.66%;}
    .col-small-9 {width: 75%;}
    .col-small-10 {width: 83.33%;}
    .col-small-11 {width: 91.66%;}
    .col-small-12 {width: 100%;}
}

@media screen and (min-width: 768px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

/* Cards */
.card {
    /* border: 0px solid #000; */
    /* max-height: 200px;
    overflow: auto ; */

}

.card > div{
    /* border: 1px solid #000; */
    /* max-height: 200px;
    overflow: auto ; */
    margin: 5px;
    min-height: 350px;
    padding: 20px;
}