@font-face {
    font-family: pepper;
    src: url(../fonts/PepperSauce.ttf);
}

.header {
    font-family: 'Zen Loop', cursive;
    font-size: 100px;
}

/*
* {

}
[data-test*=first] {
    color: rgb(26, 209, 226);
}

.home {
    color: rgb(92, 7, 7);
}
*/


/* pseudo class */
/*
.home:hover {
    color:magenta
}

.home:active {
    color: mediumblue;
}

.home:visited {
    color:rgb(92, 7, 7);
}

input:focus {
    color:magenta;
}
*/

/*
Aplica cor em todos os span que estão dentro de nav
nav span {
    color: rgb(21, 255, 0);
}

Aplica cor somente nos filhos do elemento nav
nav > span {
    color: rgb(21, 255, 0);
}
*/

/*
Aplica cor nos elementos p,
header e nos elementos
que tem a class data-hora
*/
/*
.data-hora, p, header {
    color: rgb(21, 255, 0) !important;
}

#p1 {
    color: blue;
}
*/